<p id="notice"><%= notice %></p>

<p>
  <b>Dueby:</b>
  <%= @order.DueBy %>
</p>

<p>
  <b>Description:</b>
  <%= @order.Description %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order.Quantity %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
