<h1>Listing indices</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phonenumber</th>
    <th>Address</th>
    <th>Date</th>
    <th>Orderinfo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @indices.each do |index| %>
  <tr>
    <td><%= index.name %></td>
    <td><%= index.email %></td>
    <td><%= index.phonenumber %></td>
    <td><%= index.address %></td>
    <td><%= index.date %></td>
    <td><%= index.orderinfo %></td>
    <td><%= link_to 'Show', index %></td>
    <td><%= link_to 'Edit', edit_index_path(index) %></td>
    <td><%= link_to 'Destroy', index, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Index', new_index_path %>
