<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @index.name %>
</p>

<p>
  <b>Email:</b>
  <%= @index.email %>
</p>

<p>
  <b>Phonenumber:</b>
  <%= @index.phonenumber %>
</p>

<p>
  <b>Address:</b>
  <%= @index.address %>
</p>

<p>
  <b>Date:</b>
  <%= @index.date %>
</p>

<p>
  <b>Orderinfo:</b>
  <%= @index.orderinfo %>
</p>


<%= link_to 'Edit', edit_index_path(@index) %> |
<%= link_to 'Back', indices_path %>
